<ul class="dropdown-content" id="dropdownMenu">
  <li><a href="/project">Menú<i class="material-icons right">list</i></a></li>
  <li class="divider"></li>
  <li><a href="/project/add">Create order <i class="material-icons right">add_box</i></a></li>
</ul>
