<div class="row center brown lighten-5" style="padding: 2em; border-radius: 1em; opacity: 0.9;">
  <div class="row center">
    <h5 class="header col s12 ligth grey-text text-darken-4">
      <h2>Mix Food es una aplicacion web que te facilitara la vida, ya no tendras que hacer largas filas para comprar tu comida</h2>
        <h4>¡Pide tu comida, desde un solo lugar, solo necesitas tu celular! </h4>      
  </div>
  <p>Version: {{ appVersion }}</p>
  <div class="row center">

  </div>
</div>


<div class="">

 <center>
  <img src="https://img.unocero.com/2019/01/alsea-app-entrega-comida-880x500.jpg">
  </center>
</div>

<style type="text/css">
body{

background-image: url(https://c.wallhere.com/photos/40/27/indoors_cafe_anime_girls_original_characters-1880089.jpg!d)
}

</style>