<div class="">
  <center><h2>Mix Food es una aplicacion web que te facilitara la vida, ya no tendras que hacer largas filas para comprar tu comida</h2>
  <p>¡Pide tu comida, desde un solo lugar, solo necesitas tu celular! </p>
  <p>Version: {{ appVersion }}</p>
  <img src="https://img.unocero.com/2019/01/alsea-app-entrega-comida-880x500.jpg">
  </center>
</div>