<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
<br><br>
<div class="row center brown lighten-5" style="padding: 2em; border-radius: 1em; opacity: 0.9;">
  <h1 class="header center teal-text">Bienvenido a MIX FOOD</h1>
  <div class="row center">
    <h5 class="header col s12 ligth grey-text text-darken-4">Una aplicación que te permitirá registrar las ideas de proyectos que se
    te van ocurriendo</h5>
  </div>
  <div class="row center">
    <a href="/project/add" class="btn-large waves-effect waves-ligth teal">💡Pide lo que quieras estamos para servirte💡</a>
  </div>
</div>
<br><br>


  
</body>

<style type="text/css">
body{

background-image: url(https://c.wallhere.com/photos/40/27/indoors_cafe_anime_girls_original_characters-1880089.jpg!d)
}

h1{

position:relative;
text-align: center;
color:white;
text-decoration: underline;
font-size: 100px; 


}
</style>
</div>

      </body>
</html>






