
<div class='row'>
  <div class='col s12 m10 offset-m1 l8 offset-l2'>
    <div class='card'>
      <!-- Imagen de tarjeta -->
      <div class='card-image'>
        <img src='https://files.vlastnawebstranka.websupport.sk/5d/f2/5df2a020-bdc2-452d-830e-61b8068b3024.jpg' alt='Project Image' />
        <span class='card-title white teal-text text-darken-4'>
          Agregar Pedido
        </span>
      </div>
      <!-- Contenido de tarjeta -->
      <form autocomplete='off' action='/project/add' method='POST'>
        <div class='card-content'>
          <div class='input-field'>
            <label for='project-name'>Numero de control</label>
            <input
              placeholder='Tu numero de control 👇'
              type='text'
              name='name'
              id='project-name'
              required
              value="{{project.name}}"
            />
            {{#if errorModel.nameError}}
            <span style="color:red;">🚩 {{errorModel.nameError}}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='project-description'>
              Descripción del pedido
            </label>
            <textarea
              name='description'
              class="materialize-textarea"
              id='project-description'
              required
            >{{project.description}}</textarea>
            {{#if errorModel.descriptionError}}
            <span style="color:red;">🚩 {{errorModel.descriptionError}}</span>
            {{/if}}
          </div>
        </div>
        <div class='card-action'>
          <button type="submit" class="blue darken-3 waves-effect waves-light btn">
            <i class="material-icons left">note_add</i> Realizar pedido
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<style type="text/css">
body{

background-image: url(https://c.wallhere.com/photos/40/27/indoors_cafe_anime_girls_original_characters-1880089.jpg!d)
}
img{

alt:"Mountain View";
width: 500px;
height:600px;
    
    border:10px solid brown;

}
</style>