<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body background="https://previews.123rf.com/images/bilhagolan/bilhagolan1401/bilhagolan140100017/25662114-restaurante-de-comida-r%C3%A1pida-ilustraci%C3%B3n-de-dibujos-animados-de-un-restaurante-de-comida-r%C3%A1pida-y-el.jpg">
    <section class="wrap">
  <center><h2>Menú de Restaurante</h2></center>
  <div class="column-3 columns">
    <div class="menu-restaurante" style="background: url(/img/fondo-menu-restaurante.jpg) center;background-size: cover;">
      <h3>Desayunos</h3>
      <hr>
      <h4>Chilaquiles</h4>
      <p>Precio: $45</p>
      <p>con huevo: $50</p>
      <p>Con bisteck: $60</p>
      <img src="https://assets.unileversolutions.com/recipes-v2/206095.png" width=300px; right=300px;>
      <br>
      <h4>Molletes</h4>
      <p>Precio: $35 (orden de 3)</p>
      <p>Con bisteck: $40</p>
      <p>Con quesillo y carne: $50</p>
      <img src="https://comecarne.org/wp-content/uploads/2018/12/molletes_xl.jpg" width=300px; right=300px;>
      <br>
    <div class="menu-restaurante" style="background: url(/img/fondo-menu-restaurante.jpg) center;background-size: cover;">
      <h3>Comidas</h3>
      <hr>
      <h4>Enchiladas verdes</h4>
      <p>Precio: $50</p>
      <p>Con quesillo: $55</p>
      <img src="https://i.blogs.es/23068c/enchiladas-verdes-rellenas-de-queso-1-/1366_2000.jpg" width=300px; right=300px;>
      <br>
      <h4>Pechuga empanizada</h4>
      <p>Precio: $50</p>
      <p>Paquete, pechuga, agua, ensalada : $65</p>
      <img src="https://quebuenasazon.com/wp-content/uploads/2020/06/Webp.net-resizeimage-7.jpg" width=300px; right=300px;>
      <br>
    </div>
    <div class="menu-restaurante" style="background: url(/img/fondo-menu-restaurante.jpg) center;background-size: cover;">
      <h3>Postres</h3>
      <hr>
      <h4>Postres</h4>
      <h4>Papas a la francesa : $40</h4>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSartioWpDhupkUMU2ttaBhU_4QqSerTYlYhw&usqp=CAU" width=300px; right=300px;>
      <h4>Paleta hielo : $20</h4>
      <img src="https://i.ytimg.com/vi/6Zi9TMTgCbk/maxresdefault.jpg" width=300px; right=300px;>
      <h4>Refresco : $20</h4>
      <img src="https://infobebidas.com/wp-content/uploads/2021/11/Refrescos-mas-vendidos-en-Mexico.jpg" width=300px; right=300px;>
    </div>
    </div>
  </div>
</section>
</body>
</html>