<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body background="https://img.freepik.com/vector-premium/vista-frontal-tienda-comida-rapida_81894-1695.jpg?w=2000">
    <section class="wrap">
  <h2>Menú de Restaurante</h2>
  <div class="column-3 columns">

    <div class="menu-restaurante" style="background: url(/img/fondo-menu-restaurante.jpg) center;background-size: cover;">
      <h3>Menú</h3>
      <hr>
      <h4>Primeros Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit.</p>
      <br>
      <h4>Segundos Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit.</p>
      <br>
      <p class="precio-menu">
        Precio:
        <span>17€</span>
      </p>
    </div>
    <div class="menu-restaurante" style="background: url(/img/fondo-menu-restaurante.jpg) center;background-size: cover;">
      <h3>Menú noche</h3>
      <hr>
      <h4>Primeros Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit.</p>
      <br>
      <h4>Segundos Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit.</p>
      <br>
      <p class="precio-menu">
        Precio:
        <span>19€</span>
      </p>
    </div>
    <div class="menu-restaurante" style="background: url(/img/fondo-menu-restaurante.jpg) center;background-size: cover;">
      <h3>Menú fin de semana</h3>
      <hr>
      <h4>Primeros Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit.</p>
      <br>
      <h4>Segundos Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit.</p>
      <br>
      <p class="precio-menu">
        Precio:
        <span>21€</span>
      </p>
    </div>

  </div>
</section>
</body>
</html>